nav#conteudo.main{
    max-width: 720px;
    padding: 20px;
    margin:auto;
}
h1{
    text-align: center;
}
nav.cab{
    text-align: center;
    margin:auto;
}
img.logo,nav.cab h1{
    display: inline-block;
}
nav#conteudo.main div{
    padding: 3px 0px 3px 32px;
    text-align: justify;
}
p.pream,p.encer{
    text-align: center;
    text-indent: 96px;
}
.resumo{
    text-align: justify;
    max-width: 50%;
    margin-right: 0;
    margin-left: auto;
}
div.lei{
    counter-reset: artigo;
    padding: 0px;
}
div.art{
    counter-reset: par;
}
div.art::before {
    counter-increment: artigo;              /* Incrementa a seção do contador*/
    content: "Art. " counter(artigo) "º - "; /* Mostra o contador */
    font-weight: bold;
    color:crimson;
}
div.art:nth-child(n+11)::before {
    counter-increment: artigo;               /* Incrementa a seção do contador*/
    content: "Art. " counter(artigo) " - "; /* Mostra o contador */
    font-weight: bold;
    color:crimson;
}
div.par::before {
    counter-increment: par;              /* Incrementa a seção do contador*/
    content: "\00A7" counter(par) "º - "; /* Mostra o contador */
    font-weight: bold;
    color:crimson;
}
div.par:nth-child(n+11)::before {
    counter-increment: par;               /* Incrementa a seção do contador*/
    content: "\00A7" counter(par) " - "; /* Mostra o contador */
    font-weight: bold;
    color:crimson;
}
div.paru::before {
    content: "\00A7" " - "; /* Mostra o contador */
    font-weight: bold;
    color:crimson;
}
ol.inc{
    padding: 0px 0px 0px 50px;
    counter-reset: item;
}
ol.inc li{
    padding: 3px 0px;
}
ol.inc > li {
    list-style-type: none;
    counter-increment: item;
}
ol.inc > li:before {
    font-weight: bold;
    color:crimson;
    content: counter(item, upper-roman) " - ";
}
ol.ali{
    padding: 0px 0px 0px 50px;
    counter-reset: item;
}
ol.ali li{
    padding: 3px 0px;
}
ol.ali > li {
    list-style-type: none;
    counter-increment: item;
}
ol.ali > li:before {
    font-weight: bold;
    color:crimson;
    content: counter(item, lower-alpha) ") ";
}
div.assinatura{
    font-weight: bold;
    color:crimson;
    font-size: 1.3em;
    text-align: center !important;
    text-transform: capitalize;
}